td:first-child{
	background-color: beige;
}

th:nth-child(1), th:nth-child(2), th:nth-child(3){
	background-color: #FFFFDD;
}

th:nth-child(4), td:nth-child(4){
	background-color: #DDFFDD;
}

th:nth-child(5), td:nth-child(5){
	background-color: #FFDDDD;
}
