td:first-child{
	background-color: beige;
}

th:nth-child(1), th:nth-child(2){
	background-color: #FFFFDD;
}

th:nth-child(3){
	background-color: #DDFFDD;
}

th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7){
	background-color: #DDFFFF;
}

th:nth-child(8), th:nth-child(9), th:nth-child(10), th:nth-child(11){
	background-color: #FFDDDD;
}
